<ng-container *ngIf="product">
  <div class="row mt-5">
    <div class="col-lg-7 showImages">
      <p-galleria
        [value]="product.images"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{
          height: '600px'
        }"
        [numVisible]="5"
        [circular]="true"
        [showItemNavigators]="true"
      >
        <ng-template pTemplate="item" let-item>
          <img
            [src]="item"
            style="
              width: 100%;
              display: block;
              height: 100%;
              object-fit: contain;
            "
          />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
            <img [src]="item" width="60" style="display: block" />
          </div>
        </ng-template>
      </p-galleria>
    </div>

    <div class="col-lg-5 text-md-left">
      <h2
        class="h2-responsive text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4"
      >
        {{ product.productName }}
      </h2>

      <h3 class="h3-responsive text-md-left mb-3 ml-xl-0 ml-4">
        <span class="red-text">
          <ng-container *ngIf="productDetailSelected; else priceProduct">
            <small>
              <b>{{ productDetailSelected.priceSell | number }} ₫</b>
            </small>
          </ng-container>
          <ng-template #priceProduct>
            <small *ngIf="product.minPrice == product.maxPrice"
              ><b>{{ product.minPrice | number }}đ</b></small
            >
            <small *ngIf="product.minPrice != product.maxPrice"
              ><b
                >{{ product.minPrice | number }}đ -
                {{ product.maxPrice | number }}đ</b
              ></small
            >
          </ng-template>
        </span>
      </h3>

      <p-divider></p-divider>
      <div class="font-weight-normal">
        <ng-container
          *ngFor="let option of product.optionDtos; let i_option = index"
        >
          <h5>{{ option.optionName }}</h5>
          <div class="mb-5">
            <ng-container
              *ngFor="
                let optionValue of option.optionValueDtos;
                let i_optionValue = index
              "
            >
              <button
                type="button"
                [class]="
                  optionValue.selected
                    ? 'btn btn-lg m-1 btn-outline-primary'
                    : 'btn  btn-lg m-1 btn-outline-secondary'
                "
                (click)="
                  selectOptionValue(
                    i_option,
                    i_optionValue,
                    optionValue.selected
                  )
                "
              >
                {{ optionValue.optionValueName }}
              </button>
              <!-- <button
                type="button"
                [class]="
                  currentProductDetail!.productVariantCombinationDtos![i_option]
                    .optionValueDto!.id == optionValue.id
                    ? 'btn btn-lg m-1 btn-outline-primary'
                    : 'btn  btn-lg m-1 btn-outline-secondary'
                "
                data-mdb-ripple-color="dark"
                (click)="selectOptionValue(i_option, option.id, optionValue.id)"
              >
                {{ optionValue.optionValueName }}
              </button> -->
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="font-weight-normal mb-4">
        <h5>Số lượng</h5>
        <div>
          <p-inputNumber
            [(ngModel)]="amount"
            [disabled]="
              productDetailSelected == null || productDetailSelected.stock == 0
            "
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            [max]="productDetailSelected ? productDetailSelected.stock : 0"
            [min]="productDetailSelected ? 1 : 0"
            decrementButtonClass="p-button-default"
            incrementButtonClass="p-button-default"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
          >
          </p-inputNumber>
        </div>
        <p
          class="mt-3 mb-3 red-text"
          *ngIf="productDetailSelected && productDetailSelected.stock == 0"
        >
          Sản phẩm đã hết hàng vui lòng chọn sản phẩm khác
        </p>
      </div>
      <div>
        <ng-container
          *ngIf="
            (productDetailSelected && productDetailSelected.stock > 0) ||
              !productDetailSelected;
            else showOtherProduct
          "
        >
          <p-button
            label="Mua ngay"
            icon="pi pi-check"
            styleClass="p-button-lg mr-2"
            (click)="addToCart(true)"
          ></p-button>
          <button
            pButton
            pRipple
            (click)="addToCart()"
            type="button"
            label="Thêm giỏ hàng"
            icon="pi pi-cart-plus"
            class="p-button-lg p-button-outlined p-button-danger"
          ></button>
        </ng-container>
        <ng-template #showOtherProduct>
          <button
            pButton
            pRipple
            (click)="returnHome()"
            type="button"
            label="Xem sản phẩm khác"
            icon="pi pi-home"
            class="p-button-lg p-button-outlined p-button-danger"
          ></button>
        </ng-template>
      </div>
    </div>
  </div>
  <h2 class="mt-3 mb-3 text-center">Thông tin thêm</h2>
  <div class="card rounded-5">
    <p-tabView>
      <p-tabPanel header="Chi tiết sản phẩm">
        <span [innerHTML]="product.detail"></span>
      </p-tabPanel>
      <p-tabPanel header="Thông số kĩ thuật">
        <div class="col-lg-8 col-md-10 col-sm-12 m-auto">
          <p-table
            [value]="product.specificationGroupDtos!"
            responsiveLayout="scroll"
          >
            <ng-template pTemplate="body" let-specificationGroup>
              <tr>
                <td
                  colspan="2"
                  style="
                    background-color: #3f51b5;
                    color: white;
                    text-align: center;
                    border-radius: 10px;
                  "
                >
                  <b>{{ specificationGroup.specificationGroupName }}</b>
                </td>
              </tr>
              <ng-container
                *ngFor="
                  let specification of specificationGroup.specificationDtos
                "
              >
                <tr>
                  <td>
                    <b>{{ specification.specificationName }}</b>
                  </td>
                  <td>
                    {{
                      specification.productSpecificationDtos
                        .productSpecificationName
                    }}
                  </td>
                </tr>
              </ng-container>
            </ng-template>
          </p-table>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Mô tả">
        <span [innerHTML]="product.description"></span>
      </p-tabPanel>
    </p-tabView>
    <h2 class="mt-3 mb-3 text-center">Sản phẩm tương tự</h2>
  </div>
</ng-container>
