<form class="formlogin" [formGroup]="formLogin">
  <!-- Email input -->
  <div class="mb-4">
    <label for="form2Example1">Email address</label>
    <input
      type="email"
      formControlName="email"
      id="form2Example1"
      class="form-control pt-2"
    />
  </div>

  <!-- Password input -->
  <div class="mb-4">
    <label class="form-label" for="form2Example2">Password</label>
    <input
      type="password"
      formControlName="password"
      id="form2Example1"
      class="form-control pt-2"
    />
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="rememberme"
          id="form2Example34"
          checked
        />
        <label class="form-check-label" for="form2Example34">
          Remember me
        </label>
      </div>
    </div>

    <div class="col">
      <!-- Simple link -->
      <a href="#!">Forgot password?</a>
    </div>
  </div>

  <!-- Submit button -->
  <button
    type="submit"
    class="btn btn-primary btn-block mb-4"
    (click)="onSubmit()"
  >
    Sign in
  </button>
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="register"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="register">Đăng ký tài khoản</h5>
          <button
            type="button"
            class="btn-close"
            data-mdb-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form class="formRegister" [formGroup]="formRegister">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <!-- Email input -->
            <div class="mb-4">
              <label class="form-label" for="form2Example2">Email</label>
              <input
                type="text"
                formControlName="email"
                id="form2Example1"
                class="form-control pt-2"
              />
            </div>

            <!-- Password input -->
            <div class="mb-4">
              <label class="form-label" for="form2Example2">Password</label>
              <input
                type="password"
                formControlName="password"
                id="form2Example1"
                class="form-control pt-2"
              />
            </div>

            <div class="mb-4">
              <label class="form-label" for="form2Example2">Số ĐT</label>
              <input
                type="text"
                formControlName="phoneNumber"
                id="form2Example1"
                class="form-control pt-2"
              />
            </div>

            <!-- Checkbox -->



            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4" (click)="registerAccount()">
              Tạo tài khoản
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-mdb-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Register buttons -->
  <div class="text-center">
    <p>
      Not a member?
      <a data-mdb-toggle="modal" data-mdb-target="#exampleModal">Register</a>
    </p>
  </div>
</form>
