<form class="formProfile" [formGroup]="formProfile">
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4 mt-5">
    <div class="col">
      <div>
        <label class="form-label" for="form6Example1">Tên người dùng</label>
        <input
          formControlName="customerName"
          type="text"
          id="form6Example1"
          class="form-control"
        />
        <small
        class="col alert text-danger col-12"
        role="alert"
        *ngIf="formProfile.get('customerName')?.errors?.['required'] && formProfile.get('customerName')?.touched || submit && formProfile.get('customerName')?.errors?.['required'] "
      >
        Tên người dùng không được để trống !
      </small>
      </div>
    </div>
    <div class="col">
      <div>
        <label class="form-label" for="form6Example2">Số ĐT</label>
        <input
          formControlName="phoneNumber"
          type="text"
          id="form6Example2"
          class="form-control"
        />
        <small
          class="col alert text-danger col-12"
          role="alert"
          *ngIf="formProfile.get('phoneNumber')?.errors?.['required'] && formProfile.get('phoneNumber')?.touched || submit && formProfile.get('phoneNumber')?.errors?.['required'] "
        >
          Số điện thoại không được để trống!
        </small>
        <small
          class="col alert text-danger"
          role="alert"
          *ngIf="!formProfile.get('phoneNumber')?.errors?.['required'] && formProfile.get('phoneNumber')?.errors?.['pattern']"
        >
          Số điện thoại phải là số và tối đa 10 kí tự!
        </small>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div>
        <label class="form-label" for="form6Example1">Ngày sinh</label>
        <input
          formControlName="birthday"
          type="date"
          id="form6Example1"
          class="form-control"
        />
      </div>
    </div>
    <div class="col">
      <div>
        <label class="form-label" for="form6Example1">Email</label>
        <input
          formControlName="email"
          readonly
          type="text"
          id="form6Example1"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div>
        <label class="form-label" for="form6Example2">Trạng thái</label>
        <select formControlName="status" id="status" class="form-control">
          <option value="1">Active</option>
          <option value="0">InActive</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div>
        <label class="form-label" for="form6Example2">Giới tính</label>
        <select formControlName="gender" id="gender" class="form-control">
          <option value="1">Nam</option>
          <option value="0">Nữ</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div>
        <label class="form-label" for="form6Example1">Loại khách hàng</label>
        <select
          formControlName="customerType"
          id="customerType"
          class="form-control"
        >
          <option value="1">Công ty</option>
          <option value="0">Cá nhân</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div>
        <label class="form-label" for="form6Example2">CCCD</label>
        <input
          formControlName="citizenIdentifyCart"
          type="text"
          id="form6Example2"
          class="form-control"
        />
        <small
          class="col alert text-danger col-12"
          role="alert"
          *ngIf="!formProfile.get('citizenIdentifyCart')?.errors?.['required'] && formProfile.get('citizenIdentifyCart')?.errors?.['pattern']"
        >
          CCCD phải là số có 12 kí tự!
        </small>
      </div>
    </div>
  </div>
  <button
    type="submit"
    (click)="update()"
    class="btn btn-primary btn-block mb-4 justify-content-center"
  >
    Cập nhật
  </button>
</form>
